<h1><%= @appliance.name %></h1>

<%= form_with model: @appliance, method: :put, local: true do |f| %>
  <div>
    <%= f.label '名前' %>
    <%= f.text_field :name, required: true %>
  </div>
  <%= f.submit '更新' %>
<% end %>
<div>
  <%= link_to '戻る', @appliance %>
</div>
