<h1>新しい家電</h1>

<%= form_with model: @appliance, method: :post, local: true do |f| %>
  <div>
    <%= f.label '名前' %>
    <%= f.text_field :name, required: true %>
  </div>
  <div>
    <%= f.submit '追加' %>
  </div>
<% end %>
<div>
  <%= link_to '戻る', root_path %>
</div>
