<%= javascript_pack_tag 'signal', 'data-turbolinks-track': 'reload' %>

<h1><%= @appliance.name %></h1>

<% @appliance.buttons.each do |button| %>
  <%= button_tag button.name, type: :button, onclick: "sendSignal(#{button.id})" %>
<% end %>

<div>
  <%= link_to 'ボタンを追加', new_appliance_button_path(@appliance) %>
</div>
<div>
  <%= link_to '編集', edit_appliance_path(@appliance) %>
  <%= link_to '削除', appliance_path(@appliance), method: :delete %>
</div>
<div>
  <%= link_to '戻る', root_path %>
</div>
