<%= javascript_pack_tag 'signal', 'data-turbolinks-track': 'reload' %>

<h1>新しいボタン</h1>

<p>Nature Remoにリモコンを近づけてボタンを押し、読込をクリックしてください</p>

<%= form_with model: [@button.appliance, @button], method: :post, local: true do |f| %>
  <div>
    <%= f.label '名前' %>
    <%= f.text_field :name, required: true %>
  </div>
  <div>
    <%= f.label '信号' %>
    <%= f.text_field :signal, required: true, readonly: true %>
    <%= button_tag '読込', type: :button, onclick: 'fetchSignal()' %>
  </div>
  <%= f.submit '追加' %>
<% end %>
<div>
  <%= link_to '戻る', @button.appliance %>
</div>
